.application-dark-normal {
  background-color: var(--darkmode);
  color: var(--lightmode);
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.application-light-normal {
  background-color: var(--lightmode);
  color: var(--darkmode);
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.application-dark-low {
  background-color: var(--darkmode);
  color: var(--lightmode);
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

.application-light-low {
  background-color: var(--lightmode);
  color: var(--darkmode);
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
